@import "base.css";


/* ********************************************************* */
/* 右フレームレイアウト */
/* ********************************************************* */


#content {
width:150px;/* 横幅 */
margin:15px auto;/* autoは真ん中寄せ */
text-align:left;
}

/* ヘッダー */
#header {margin:0px 0px;text-align:right;}

/* メイン */
#main {margin:0px 0px;}

/* フッター */
#footer {
margin:10px 0px;
padding-bottom:30px;
}


/* ********************************************************* */
/* 右フレーム詳細指定 */
/* ********************************************************* */


/* ヘッダー------------------------------------------------- */

#header h1 {
font-size:120%;
font-family:Tahoma,"Century Gothic",Osaka;
}

#header h2 {
font-size:76%;
color:#c4d7a0;
font-family:Tahoma,"Century Gothic",Osaka;
margin:-2px 0px 0px 1px;
}

/* トップ画像を表示 */
#header .img {
width:150px;/* 横幅 */
height:150px;/* 縦幅 */
margin:5px 0px;
border:1px solid #cccccc;
background:url(../img/top.jpg) no-repeat #3f3f3f;/* 画像アドレス指定 */
}


/* メニュー------------------------------------------------- */

ul#menu {
margin:10px 0px;
text-align:center;
padding:5px 3px;
background:#484848;
}

ul#menu li {display:inline;}/* 横並び指定 */
ul#menu li a {font-size:76%;}/* リンクの文字サイズ */


/* メイン--------------------------------------------------- */

#main h3,#main h4,#main h5 {
font-size:100%;
color:#71cde4;
margin:5px 0px 1px 0px;
}

#main p {
font-size:76%;
line-height:140%;
margin:0px 0px;
padding:10px 10px;
}

/* ライン有り・背景無し */
#main .box1 {border:1px solid #cccccc;background:#3f3f3f;}

/* 背景画像付き */
#main .box2 {border:1px solid #cccccc;background:url(../img/box1.gif);}

/* p内リンク */
#main p a {font-size:100%;}


/* パンくず------------------------------------------------- */

ul#pan  {margin:10px 0px;text-align:right;}
ul#pan li {display:inline;margin:0px 0px;font-size:76%;}
ul#pan li a {font-size:100%;}/* リンクの文字サイズ */


/* 戻りリンク----------------------------------------------- */

#footer ul {margin:5px 0px;text-align:right;}
#footer li {display:inline;margin:0px 0px;font-size:76%;}
#footer li a {font-size:100%;}/* リンクの文字サイズ */

/* 著作権表示部分 */
ul#copy {
text-align:right;
margin:10px 0px;
}
ul#copy li {display:inline;}


/* ********************************************************* */


